/* Handles image replacement through injected CSS */
/* chrome-extension://<EXTENSION_ID>/image.png */
/* __MSG_@@extension_id__ to get the extension ID */

/* Piazza Careers Logo */
.student_topbar .navbar-brand {
    background: url(chrome-extension://__MSG_@@extension_id__/img/piazza_careers_logo_white.png) left top no-repeat !important;
    background-size: 156px 21px !important;
}

/* Piazza Classes Logo */
.top_bar .logo.class_logo {
    background: url(chrome-extension://__MSG_@@extension_id__/img/piazza_classes_logo_white_new.png) left top no-repeat !important;
    background-size: 156px 18px !important;
}

/* Piazza Report Logo (Generic Logo possibly used in other locations) */
#PageLogo a {
    background: url(chrome-extension://__MSG_@@extension_id__/img/piazza-logo-new2.png) no-repeat scroll 30px 5px transparent !important;
}

/* Piazza Login Logo */
#logo-container {
    float: left !important;
    background: url(chrome-extension://__MSG_@@extension_id__/img/piazza_logo_white.png) left top no-repeat !important;
    margin-top: 11px !important;
    margin-right: 10px !important;
    width: 101px !important;
    height: 28px !important;
}


.new_splash .navbar .navbar-brand {
    background: url(chrome-extension://__MSG_@@extension_id__/img/piazza_logo_blue.png) left top no-repeat !important;
    margin-right: 0px!important;
    margin-top: 12px!important;
    width: 125px!important;
    height: 30px!important;
    background-size: 125px auto!important; 
    margin-left: 0px!important;
}