/* chrome-extension://<EXTENSION_ID>/image.jpg */
.student_topbar .navbar-brand {
    background: url(chrome-extension://mgckgmkglbpnmgaeajibdeaokhdfjlff/img/piazza_careers_logo_white.png) left top no-repeat !important;
}

.top_bar .logo.class_logo {
    background: url(chrome-extension://mgckgmkglbpnmgaeajibdeaokhdfjlff/img/piazza_classes_logo_white_new.png) left top no-repeat !important;
}

#PageLogo a {
    background: url(chrome-extension://mgckgmkglbpnmgaeajibdeaokhdfjlff/img/piazza-logo-new2.png) no-repeat scroll 30px 5px transparent !important;
}